<!-- ================= STARTING V LOADER ================= -->
@if (isInitialLoading()) {
  <app-v-loader 
    [isSplashScreen]="true" 
    message="Initializing Velvion Enterprise Platform" 
    [fullscreen]="true">
  </app-v-loader>
}

<!-- Dynamic App Routing Views -->
<router-outlet></router-outlet>

<!-- Global Feedback Overlays -->
<app-toast-container></app-toast-container>
<app-confirm-modal></app-confirm-modal>

<!-- Global Async Loader -->
@if (loaderService.isLoading()) {
  <app-v-loader 
    [message]="loaderService.message()" 
    [fullscreen]="true">
  </app-v-loader>
}
